@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Rubik+Distressed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  padding:10px;
}

.nav-bar ul {
 
  position: absolute;
  bottom: 0;
  left:0;
  right: 0;
  margin-top: 200px;
  justify-content: center;
  
  
}
.nav-bar ul li {
 margin-left: 5px;
 display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  
}

a:hover {
  color: gold
}


#cards {
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;
  overflow: hidden;
}



#general {
  position: relative;
  overflow: hidden;
}

#general ul {
  background: rgb(108, 107, 107);
 
}

#general p {
  
  padding-left: 20px;
  padding-right: 10px;

}




.card {
  width: 80%;
  height: 400px;
  background: rgb(195, 196, 234);
  text-align: center;
  border-radius: 6px;
  transition-duration: 0.2s;
  margin-top: 10%;
  opacity: 0.7;
  font-size: 1.3rem;
}

.card:nth-child(4) {
  margin-bottom: 100px;
}

.card:hover {
  opacity: 1;
}


.card h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid white;
}
.card table {
  margin: 0 auto  ;
  text-align: center;
}

.card label, .card input, .card button {
  margin: 0 auto;
  display: block;
  border: none;
}


.card button {
  color: black;
  background: white;
  padding: 10px;
}

.card label {
  margin-bottom: 5px;
}

.card input, .card textarea {
  background: transparent;
  font-family: sans-serif;
}

.card textarea {
  border: none  
}
input:focus, textarea:focus {
  background: white;
  outline: none;
  color: red
}

.card textarea {
  width: 100px;
 
}

ul {
  list-style: none;
}
.nav-bar ul {
  
  margin-top: 10em;

}

.inner-flex {
  flex-direction: column;
}

#hobbies h3, #experience h3, #contact h3 {
  margin-bottom: 20px;
}

#hobbies ul li:nth-child(odd) {
  color: white;
}



th {
background: white;;
}

th, td {
  padding: 10px
}

td:hover {
  background: white;
}

#name {
  font-family: 'Rubik Distressed';
  font-weight: 300;
  padding-left: 0;
}

@media (max-width:1200px) {
  .card {
    width: 48%;
    font-size: 0.9rem
  }

  .card p {
    font-size: 1.5rem;
  }

  img {
    display: none;
  }





  #cards .card {
    margin-top: 20px;
  }

  #cards .card:nth-child(3),
  #cards .card:nth-child(4) {
    margin-bottom: 10px;
  }
}


@media (max-width:700px) {
  .card {
    width: 100%;
    font-size: 1.2rem;
    height: 300px;
   
  }

  

  #cards .card:nth-child(1) {
    margin-top: 10px;
  }

  #cards .card:nth-child(4) {
    margin-bottom: 10px;
  }
}

